.titulo {
    display: flex;
    justify-content: center;
   
    font-style: normal;
    color: white;
    text-align: center;
    font-size: 60px;
    margin-top: 20px;
    text-decoration: none;
    
}

.subTitulo {
    font-family: "Outfit", sans-serif;
    font-style: normal;
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: -60px;
    
}

.Logo {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
}


.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: rgb(36, 39, 43);
  
}

body{
    background-image: url(../faculReady-main/img/fundo\ cinza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.Algoai {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 210px;
}

#field1{

    background-color: rgb(44, 46, 49);
    width: 300px;
    height: 350px;
    border-radius: 12px;
    border: 3px solid rgb(211, 211, 211);
    
}

.label1{
    margin-top: 10px;
    display: flex;
    margin-left: 30px;
    margin-bottom: -13px;
    font-family: New Amsterdam;
    font-size: 21px;
    letter-spacing: 1px;
    color: rgb(224, 224, 224);
}

.input1{
    background-color: rgb(58, 59, 61);
    border: none;
    width: 240px;
    height: 40px;
    border-radius: 7px;
    outline: none;
    color: rgb(233, 233, 233);
    font-family: Poppins;
    padding-left: 10px;
    font-size: 15px;
}

.endereco {
    display: flex;
    text-align: center;
    font-family: New Amsterdam;
    font-size: 30px;
    letter-spacing: 1px;
    color: rgb(224, 224, 224);
}

.btn1{
    background-color: rgb(182, 182, 182);
    width: 240px;
    height: 35px;
    border: none;
    border-radius: 7px;
    font-family: New Amsterdam;
    font-size: 30px;
    letter-spacing: 2px;
    color: rgb(43, 43, 44);
    cursor: pointer;
}

.warn1{
    margin-top: -8px;
    margin-bottom: 1px;
    font-family: Poppins;
    color: rgb(214, 214, 214);
}
 
.btn2{
   
    background-color: rgba(245, 245, 220, 0);
    border: none;
    cursor: pointer;
    font-family: Poppins;
    text-decoration:  underline;
    color: rgb(214, 214, 214);
}